{#
   package: virtual_machine/network_profile
   source: https://github.com/sebbrochet/azure-jinja2/blob/master/macros/virtual_machine/network_profile.json.j2

   macro: create
   Create a new *network_profile* to be used in a *virtual machine* (see <virtual_machine>).

   Parameters:

      nicName - string, name of an existing *network interface* (see <network_interface>)

   Example:
(start code)
{% import 'azure-jinja2/macros/virtual_machine/network_profile.json.j2' as vm_network_profile %}

   {{ vm_network_profile.create("MyNIC") }}

(end)

#}

{% macro create(
     nicName
   )
-%}
{
   "networkInterfaces": [
      {
         "id": "[resourceId('Microsoft.Network/networkInterfaces',{{ nicName }})]"
      }
   ]
}
{%- endmacro %}
