{% macro create
(
   name,
   apiVersion,
   location,
   virtualNetworkName,
   subnetName,
   publicIPAddressName = "",
   networkSecurityGroupName = ""
)
-%}
{
   "type": "Microsoft.Network/networkInterfaces",
   "apiVersion": "{{ apiVersion }}",
   "location": "{{ location }}",
   "name": "{{ name }}",
   "dependsOn": [
      {% if publicIPAddressName %}
      "[concat('Microsoft.Network/publicIPAddresses/',{{ publicIPAddressName }})]",
      {% endif %}
      {% if networkSecurityGroupName %}
      "[concat('Microsoft.Network/networkSecurityGroups/',{{ networkSecurityGroupName }})]",
      {% endif %}
      "[concat('Microsoft.Network/virtualNetworks/',{{ virtualNetworkName }})]"
   ],
   "properties": {
     "ipConfigurations": [
       {
         "name": "ipconfig1",
         "properties": {
           "privateIPAllocationMethod": "Dynamic",
	   {% if publicIPAddressName %}
           "publicIPAddress": {
	      "id": "[resourceId('Microsoft.Network/publicIPAddresses',{{ publicIPAddressName }})]"
           },
	   {% endif %}
           "subnet": {
	      "id": "[concat(resourceId('Microsoft.Network/virtualNetworks',{{ virtualNetworkName }}),'/subnets/',{{ subnetName }})]"
           }
         }
       }
     ]
     {% if networkSecurityGroupName %}
     ,
     "networkSecurityGroup": {
        "id": "[resourceId('Microsoft.Network/networkSecurityGroups',{{ networkSecurityGroupName }})]"
     }
     {% endif %}
   }
}
{%- endmacro %}

{% macro from_vars(
      name                     = "[variables('nicName')]",
      apiVersion               = "[variables('apiVersion')]",
      location                 = "[variables('location')]",
      withPublicIP             = "false",
      publicIPAddressName      = "variables('publicIPAddressName')",
      virtualNetworkName       = "variables('virtualNetworkName')",
      withNSG                  = "false",
      networkSecurityGroupName = "variables('networkSecurityGroupName')",
      subnetName               = "variables('subnetName')"
)
-%}
{% if withPublicIP != "false" %}
   {% set _publicIPAddressName = publicIPAddressName %}
{% else %}
   {% set _publicIPAddressName = "" %}
{% endif %}

{% if withNSG != "false" %}
   {% set _networkSecurityGroupName = networkSecurityGroupName %}
{% else %}
   {% set _networkSecurityGroupName = "" %}
{% endif %}

{{ create(
     name = name,
     apiVersion = apiVersion,
     location = location,
     publicIPAddressName = _publicIPAddressName,
     virtualNetworkName = virtualNetworkName,
     networkSecurityGroupName = _networkSecurityGroupName,
     subnetName = subnetName
   )
}}     
{%- endmacro %}
