{% macro create
(
   name,
   apiVersion,
   location,
   virtualNetworkName,
   subnetRef,
   withPublicIP = "false",
   publicIPAddressName = "",
   withNSG = "false",
   networkSecurityGroupName = ""
)
-%}
{
   "type": "Microsoft.Network/networkInterfaces",
   "apiVersion": "{{ apiVersion }}",
   "location": "{{ location }}",
   "name": "{{ name }}",
   "dependsOn": [
      {% if withPublicIP != "false" %}
      "[concat('Microsoft.Network/publicIPAddresses/',{{ publicIPAddressName }})]",
      {% endif %}
      {% if withNSG != "false" %}
      "[concat('Microsoft.Network/networkSecurityGroups/',{{ networkSecurityGroupName }})]",
      {% endif %}
      "[concat('Microsoft.Network/virtualNetworks/',{{ virtualNetworkName }})]"
   ],
   "properties": {
     "ipConfigurations": [
       {
         "name": "ipconfig1",
         "properties": {
           "privateIPAllocationMethod": "Dynamic",
	   {% if withPublicIP != "false" %}
           "publicIPAddress": {
	      "id": "[resourceId('Microsoft.Network/publicIPAddresses',{{ publicIPAddressName }})]"
           },
	   {% endif %}
           "subnet": {
	      "id": "{{ subnetRef }}"
           }
         }
       }
     ]
     {% if withNSG != "false" %}
     ,
     "networkSecurityGroup": {
        "id": "[resourceId('Microsoft.Network/networkSecurityGroups',{{ networkSecurityGroupName }})]"
     }
     {% endif %}
   }
}
{%- endmacro %}

{% macro from_vars(
      name                     = "[variables('nicName')]",
      apiVersion               = "[variables('apiVersion')]",
      location                 = "[variables('location')]",
      withPublicIP             = "false",
      publicIPAddressName      = "variables('publicIPAddressName')",
      virtualNetworkName       = "variables('virtualNetworkName')",
      withNSG                  = "false",
      networkSecurityGroupName = "variables('networkSecurityGroupName')",
      subnetRef                = "[variables('subnetRef')]"
)
-%}
{{ create(
     name = name,
     apiVersion = apiVersion,
     location = location,
     withPublicIP = withPublicIP,
     publicIPAddressName = publicIPAddressName,
     virtualNetworkName = virtualNetworkName,
     withNSG = withNSG,
     networkSecurityGroupName = networkSecurityGroupName,
     subnetRef = subnetRef
   )
}}     
{%- endmacro %}
