{% macro create
(
   name,
   apiVersion,
   location,
   securityRules
)
-%}

{
      "type": "Microsoft.Network/networkSecurityGroups",
      "apiVersion": "{{ apiVersion }}",
      "name": "{{ name }}",
      "location": "{{ location }}",
      "properties": {
         "securityRules": {{ securityRules }}
      }
}
{%- endmacro %}

{% macro from_vars(
      name          = "[variables('networkSecurityGroupName')]",
      apiVersion    = "[variables('apiVersion')]",
      location      = "[variables('location')]",
      securityRules = "[]"
   )
-%}
{{
   create(
      name = name,
      apiVersion = apiVersion,
      location = location,
      securityRules = securityRules
   )
}}
{%- endmacro %}
