{% macro create(
      name,
      apiVersion,
      location,
      type,
      withDNS,
      dnsLabelPrefix
   )
-%}
{
   "type": "Microsoft.Network/publicIPAddresses",
   "apiVersion": "{{ apiVersion }}",
   "name": "{{ name }}",
   "location": "{{ location }}",
   "properties": {
      "publicIPAllocationMethod": "{{ type }}"
      {% if withDNS != "false" %}
      ,
      "dnsSettings": {
         "domainNameLabel": "{{ dnsLabelPrefix }}"
      }
      {% endif %}
   }
}
{%- endmacro %}

{% macro from_vars(
      name                = "[variables('publicIPAddressName')]",
      apiVersion          = "[variables('apiVersion')]",
      location            = "[variables('location')]",
      type                = "[variables('publicIPAddressType')]",
      withDNS             = "false",
      dnsLabelPrefix      = "[variables('dnsLabelPrefix')]"
   )
-%}
{{
   create(
      name = name,
      apiVersion = apiVersion,
      location = location,
      type = type,
      withDNS = withDNS,
      dnsLabelPrefix = dnsLabelPrefix 
   )
}}
{%- endmacro %}
