{% macro create(name,
                apiVersion,
                location,
                type)
-%}
{
  "type": "Microsoft.Storage/storageAccounts",
  "apiVersion": "{{ apiVersion }}",
  "location": "{{ location }}",
  "name": "{{ name }}",
  "properties": {
     "accountType": "{{ type }}"
   }
}
{%- endmacro %}

{% macro from_vars(
      name       = "[variables('storageAccountName')]",
      apiVersion = "[variables('apiVersion')]",
      location   = "[variables('location')]",
      type       = "[variables('storageAccountType')]")
-%}
{{
   create(
      name = name,
      apiVersion = apiVersion,
      location = location,
      type = type
   )
}}
{%- endmacro %}
