{% macro create
(
   name                = "variables('vmName')",
   apiVersio           = "[variables('apiVersion')]",
   location            = "[variables('location')]",
   fileUris,
   PSScripttoExecute,
   argument1
)
-%}
{
   "type": "Microsoft.Compute/virtualMachines/extensions",
   "name": "[concat({{ name }},'/WinRMCustomScriptExtension')]",
   "apiVersion": "{{ apiVersion }}",
   "location": "{{ location }}",
      "dependsOn": [
         "[concat('Microsoft.Compute/virtualMachines/',{{ name }})]"
      ],
      "properties": {
         "publisher": "Microsoft.Compute",
         "type": "CustomScriptExtension",
         "typeHandlerVersion": "1.4",
         "settings": {
	 "fileUris": [ {{ fileUris }} ],
         {% if argument1 %}
	 "commandToExecute": "[concat('powershell -ExecutionPolicy Unrestricted -file {{ PSScriptToExecute }}',{{ argument1 }})]"
         {% else %}
	 "commandToExecute": "powershell -ExecutionPolicy Unrestricted -file {{ PSScriptToExecute }}"
         {% endif %}
         }
      }
}
