{#
   TODO: support several adressPrefixes instead of 1
   TODO: support several subnets instead of 1
#}


{% macro create(
      name,
      apiVersion,
      location,
      addressPrefix,
      subnetName,
      subnetPrefix
   )
-%}
{
   "type": "Microsoft.Network/virtualNetworks",
   "apiVersion": "{{ apiVersion }}",
   "location": "{{ location }}",
   "name": "{{ name }}",
   "properties": {
     "addressSpace": {
       "addressPrefixes": [
         "{{ addressPrefix }}"
       ]
     },
     "subnets": [
        {
         "name": "{{ subnetName }}",
         "properties": {
	    "addressPrefix": "{{ subnetPrefix }}"
         }
       }
     ]
   }
}
{%- endmacro %}

{% macro from_vars(
      name          = "[variables('virtualNetworkName')]",
      apiVersion    = "[variables('apiVersion')]",
      location      = "[variables('location')]",
      addressPrefix = "[variables('addressPrefix')]",
      subnetName    = "[variables('subnetName')]",
      subnetPrefix  = "[variables('subnetPrefix')]")
-%}
{{
   create(
      name = name,
      apiVersion = apiVersion,
      location = location,
      addressPrefix = addressPrefix,
      subnetName = subnetName,
      subnetPrefix = subnetPrefix
   )
}}
{%- endmacro %}
