{% import 'templates/storage_account.json.j2' as storage_account %}
{% import 'templates/virtual_network.json.j2' as virtual_network %}
{% import 'templates/public_ip_address.json.j2' as public_ip_address %}
{% import 'templates/network_interface.json.j2' as network_interface %}
{% import 'templates/network_security_group.json.j2' as network_security_group %}
{% import 'templates/virtual_machine.json.j2' as virtual_machine %}

"resources" : [
    {{ storage_account.create() }}
    ,
    {{ public_ip_address.create() }}
    ,
    {{ virtual_network.create() }}
    ,
    {{ network_interface.create(withPublicIP="true", referenceNSG="true") }}
    ,
    {{ network_security_group.create() }}
    ,
    {{ virtual_machine.create() }}
]
