{% import 'azure-jinja2/macros/virtual_network.json.j2' as virtual_network %}
{% import 'azure-jinja2/macros/public_ip_address.json.j2' as public_ip_address %}
{% import 'azure-jinja2/macros/network_interface.json.j2' as network_interface %}

"resources" : [
    {{ public_ip_address.from_vars(withDNS = "true") }},
    {{ virtual_network.from_vars() }},
    {{ network_interface.from_vars() }}
]
