"variables": {
    "dnsLabelPrefix": "[parameters('dnsLabelPrefix')]",
    "location": "[parameters('location')]",
    "addressPrefix": "[parameters('vnetAddressPrefix')]",
    "subnetPrefix": "[parameters('subnetPrefix')]",
    "publicIPAddressType": "[parameters('publicIPAddressType')]",
    "virtualNetworkName": "virtualNetwork1",
    "publicIPAddressName": "publicIp1",
    "subnetName": "subnet1",
    "nicName": "networkInterface1",
    "apiVersion": "2015-06-15"
  }
